body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  text-align: center;
  display: flex; /* Ensures flex layout to help fill the screen */
  flex-direction: column; /* Stacks children vertically */
  align-items: center; /* Centers items horizontally */
  justify-content: center; /* Centers items vertically */
  min-height: 100vh; /* Ensures the app fills the full height of the viewport */
  width: 100vw; /* Ensures the app fills the full width of the viewport */
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  box-sizing: border-box; /* Ensures border or padding don't overflow */
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  width: 100%; /* Full width */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px; /* Adjusted padding */
  box-sizing: border-box; /* Ensures padding does not add to the width */
  flex: 1; /* Takes available space */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-input {
  width: 80%;
  height: 100px;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #61dafb;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  resize: vertical;
  overflow-wrap: break-word;
}

.App-convert-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #61dafb;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.App-convert-button:hover {
  background-color: #4a9fb3;
}

.App-status-message {
  margin-top: 10px;
  color: #aad4e5;
  font-size: 1.2rem;
}
